:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

@media (min-width: 1024px) {
  :host {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}
