@if (layout.isDesktop()) {
  <app-reservation-space-step-desktop
    [spaces]="spaces"
    [spacesLoadError]="spacesLoadError"
    [selectedSpaceId]="selectedSpaceId"
    [isLoadingSpaces]="isLoadingSpaces"
    (spaceSelected)="onSpaceSelected($event)"
    (retry)="retryLoadSpaces()"
    (next)="goToNextStep()"
  />
} @else {
  <app-reservation-space-step-mobile
    [spaces]="spaces"
    [spacesLoadError]="spacesLoadError"
    [selectedSpaceId]="selectedSpaceId"
    [isLoadingSpaces]="isLoadingSpaces"
    (spaceSelected)="onSpaceSelected($event)"
    (retry)="retryLoadSpaces()"
    (next)="goToNextStep()"
  />
}
