@if (layout.isDesktop()) {
  <app-reservation-date-step-desktop
    [selectedSpace]="selectedSpace"
    [selectedDate]="selectedDate"
    [showAvailabilityResult]="showAvailabilityResult"
    [isSubmitting]="isSubmitting"
    [isCheckingAvailability]="isCheckingAvailability"
    [minPickerDate]="minPickerDate"
    (dateChange)="onDatePickerChange($event)"
    (checkAvailability)="checkAvailability()"
    (back)="goToPreviousStep()"
    (submit)="onSubmit()"
  />
} @else {
  <app-reservation-date-step-mobile
    [selectedSpace]="selectedSpace"
    [showAvailabilityResult]="showAvailabilityResult"
    [isSubmitting]="isSubmitting"
    [isCheckingAvailability]="isCheckingAvailability"
    [minPickerDate]="minPickerDate"
    (dateChange)="onDatePickerChange($event)"
    (checkAvailability)="checkAvailability()"
    (back)="goToPreviousStep()"
    (submit)="onSubmit()"
  />
}
