@if (layout.isDesktop()) {
  <app-occurrence-create-desktop
    [step]="step()"
    [description]="description()"
    [isSubmitting]="isSubmitting()"
    [canProceedStep1]="canProceedStep1()"
    [canProceedStep2]="canProceedStep2()"
    [canSubmit]="canSubmit()"
    [minPickerDate]="minPickerDate"
    [maxPickerDate]="maxPickerDate"
    (descriptionChange)="description.set($event)"
    (dateChange)="onDateChange($event)"
    (timeChange)="onTimeChange($event)"
    (goToStep)="goToStep($event)"
    (submit)="onSubmit()"
  />
} @else {
  <app-occurrence-create-mobile
    [step]="step()"
    [description]="description()"
    [isSubmitting]="isSubmitting()"
    [canProceedStep1]="canProceedStep1()"
    [canProceedStep2]="canProceedStep2()"
    [canSubmit]="canSubmit()"
    [minPickerDate]="minPickerDate"
    [maxPickerDate]="maxPickerDate"
    (descriptionChange)="description.set($event)"
    (dateChange)="onDateChange($event)"
    (timeChange)="onTimeChange($event)"
    (goToStep)="goToStep($event)"
    (submit)="onSubmit()"
  />
}
