@if (layout.isDesktop()) {
  <app-delivery-create-desktop
    [step]="step()"
    [recipientMode]="recipientMode()"
    [customRecipientName]="customRecipientName()"
    [recipientLabel]="recipientLabel()"
    [photoPreview]="photoPreview()"
    [hasCapturedPhoto]="!!capturedPhoto()"
    [isCapturingPhoto]="isCapturingPhoto()"
    [isSubmitting]="isSubmitting()"
    [canProceedStep1]="canProceedStep1()"
    [residentOptions]="residentOptions()"
    [recipientControl]="recipientControl"
    [detailsForm]="detailsForm"
    (recipientModeChange)="setRecipientMode($event)"
    (customRecipientNameChange)="customRecipientName.set($event)"
    (goToStep)="goToStep($event)"
    (capturePhoto)="capturePhoto()"
    (pickPhoto)="pickPhotoFromGallery()"
    (submitDelivery)="submitDelivery()"
    (registerAnother)="registerAnother()"
    (finish)="finish()"
  />
} @else {
  <app-delivery-create-mobile
    [step]="step()"
    [recipientMode]="recipientMode()"
    [customRecipientName]="customRecipientName()"
    [recipientLabel]="recipientLabel()"
    [photoPreview]="photoPreview()"
    [hasCapturedPhoto]="!!capturedPhoto()"
    [isCapturingPhoto]="isCapturingPhoto()"
    [isSubmitting]="isSubmitting()"
    [canProceedStep1]="canProceedStep1()"
    [residentOptions]="residentOptions()"
    [recipientControl]="recipientControl"
    [detailsForm]="detailsForm"
    (recipientModeChange)="setRecipientMode($event)"
    (customRecipientNameChange)="customRecipientName.set($event)"
    (goToStep)="goToStep($event)"
    (capturePhoto)="capturePhoto()"
    (pickPhoto)="pickPhotoFromGallery()"
    (submitDelivery)="submitDelivery()"
    (registerAnother)="registerAnother()"
    (finish)="finish()"
  />
}
