@if (layout.isDesktop()) {
  <app-home-tab-desktop
    [isAdmin]="isAdmin"
    [canSeeReservationsSummary]="canSeeReservationsSummary"
    [isLoadingStats]="isLoadingStats"
    [pendingApprovals]="pendingApprovals"
    [pendingDeliveries]="pendingDeliveries"
    [activeReservations]="activeReservations"
    [statSkeletonItems]="statSkeletonItems"
    (pendingApprovalsClick)="goToPendingApprovals()"
    (deliveriesClick)="goToDeliveries()"
    (reservationsClick)="goToReservations()"
  />
} @else {
  <app-home-tab-mobile
    [isAdmin]="isAdmin"
    [canSeeReservationsSummary]="canSeeReservationsSummary"
    [isLoadingStats]="isLoadingStats"
    [pendingApprovals]="pendingApprovals"
    [pendingDeliveries]="pendingDeliveries"
    [activeReservations]="activeReservations"
    [statColumns]="statColumns"
    [statSkeletonItems]="statSkeletonItems"
    [quickActions]="quickActions"
    (contentScroll)="onContentScroll($event)"
    (pendingApprovalsClick)="goToPendingApprovals()"
    (deliveriesClick)="goToDeliveries()"
    (reservationsClick)="goToReservations()"
    (quickAction)="runQuickAction($event)"
  />
}
